@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./../assets/fonts/Nunito-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: '#ffffff';
}

code {
  font-family: 'Nunito', 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', 'monospace' !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* input[type=submit] { */
.razorpay-payment-button {
  border: 1px solid red;
  background-color: #F37254 !important;
  height: 30;
  width: 40;
}

#payment {
  border: 1px solid red;
  background-color: '#F37254' !important;
  height: 40 !important;
  width: 40;
}
